<div class="container">
  <div class="card m-4 ">

    <div class="bg-info card-header card-title">
      <h1>Asignación de Memoria</h1>
    </div>

    <div class="card-body card-text">
      <p>Instrucciones: Sube un archivo JSON con el siguiente formato: </p>
      <img class="format-json " src="/public/code.png" alt="Formato de COdigo">
    </div>
  </div>

  <form action="/procedures" method="post" enctype="multipart/form-data">

    <div class="input-group m-4">
      <input type="file" class="form-control" name="procFile" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required>
      <button class="btn btn-outline-secondary" type="submit" id="inputGroupFileAddon04">Cargar</button>
    </div>

  </form>

</div>